<% @places.each do |place| %>
  <div class="booyah-box col-xs-10 col-xs-offset-1">
    <h1 class="place-heading"><%= place.name %></h1>
    <i class="sub-heading"><%= place.address %></i><br><br>
    <p><%= place.description %></p><br>
  </div>
  <% end %>
  <br class="clear">
<%= will_paginate @places %>
